<div class="flex justify-center items-center">
    <%= form_with(model: @product, id: "product-form", url: products_path, html: { "data-turbo-frame": "product-form", class: "product-form" }) do |form| %>
      <% if @product.errors.any? %>
        <div class="text-red-600 mb-4">
          <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>
          <ul>
            <% @product.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="grid grid-cols-2 gap-4 mb-4">
        <div>
          <%= form.label :name, class: "block text-gray-700" %>
          <%= form.text_field :name %>
        </div>

        <div>
          <%= form.label :purchase_date, class: "block text-gray-700" %>
          <%= form.date_field :purchase_date %>
        </div>

        <div>
          <%= form.label :store_name, class: "block text-gray-700" %>
          <%= form.text_field :store_name %>
        </div>

        <div>
          <%= form.label :quantity, class: "block text-gray-700" %>
          <%= form.number_field :quantity  %>
        </div>

        <div class="col-span-2"> 
          <div class="flex justify-center"> 
            <div class="w-3/4">
              <%= form.label :store_section_id, class: "block text-gray-700" %>
              <%= form.collection_select :store_section_id, StoreSection.all.order(:name), :id, :name, {}, class: "w-full rounded-md border-gray-300 shadow-sm" %>
            </div>
          </div>
        </div>

      </div>

      <div>
        <%= form.submit "Add Product", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded w-full" %>
      </div>
    <% end %>
</div>
