<div id="<%= dom_id product %>">
  <p>
    <strong>Name:</strong>
    <%= product.name %>
  </p>

  <p>
    <strong>Purchase date:</strong>
    <%= product.purchase_date %>
  </p>

  <p>
    <strong>Store name:</strong>
    <%= product.store_name %>
  </p>

  <p>
    <strong>Purchased:</strong>
    <%= product.purchased %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= product.quantity %>
  </p>

</div>
